body {
    margin: 0;
    font-family: 'PT Serif', Helvetica, 'Times New Roman', serif;
    line-height: 1.5;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
}

/* leaflet-specific styles */
#map {
    cursor: move;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
}

#map::before,
#map::after {
    content: '';
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 500;
}

/* shadow */
#map::before {
    box-shadow: inset 0 0 200px rgba(0,0,0,0.9);
}

/* overlay */
#map::after {
    opacity: .05;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADAQMAAABs5if8AAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAAA5JREFUCNdjeMDQwNAAAAZmAeFpNQSMAAAAAElFTkSuQmCC');
}

.leaflet-interactive {
    opacity: 0;
}

.leaflet-interactive:hover {
    opacity: 1;
}

.leaflet-control-container {
    z-index: 200;
}